@import "_colours";
@import "../sass/layout";

@font-face {
  font-family: 'MuseoSans';
  src: url('fonts/MuseoSans_300-webfont.eot');
  src: url('fonts/MuseoSans_300-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/MuseoSans_300-webfont.woff') format('woff'),
       url('fonts/MuseoSans_300-webfont.ttf') format('truetype'),
       url('fonts/MuseoSans_300-webfont.svg#MuseoSans300') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSans';
  src: url('fonts/MuseoSans_300_Italic-webfont.eot');
  src: url('fonts/MuseoSans_300_Italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/MuseoSans_300_Italic-webfont.woff') format('woff'),
       url('fonts/MuseoSans_300_Italic-webfont.ttf') format('truetype'),
       url('fonts/MuseoSans_300_Italic-webfont.svg#MuseoSans300Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'MuseoSans';
  src: url('fonts/MuseoSans_500-webfont.eot');
  src: url('fonts/MuseoSans_500-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/MuseoSans_500-webfont.woff') format('woff'),
       url('fonts/MuseoSans_500-webfont.ttf') format('truetype'),
       url('fonts/MuseoSans_500-webfont.svg#MuseoSans500') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSans';
  src: url('fonts/MuseoSans_500_Italic-webfont.eot');
  src: url('fonts/MuseoSans_500_Italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/MuseoSans_500_Italic-webfont.woff') format('woff'),
       url('fonts/MuseoSans_500_Italic-webfont.ttf') format('truetype'),
       url('fonts/MuseoSans_500_Italic-webfont.svg#MuseoSans500Italic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Museo300-display';
  src: url('fonts/Museo300-Regular-webfont.eot');
  src: url('fonts/Museo300-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/Museo300-Regular-webfont.woff') format('woff'),
       url('fonts/Museo300-Regular-webfont.ttf') format('truetype'),
       url('fonts/Museo300-Regular-webfont.svg#Museo300') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Alter the logo and the header on every page *but* the map page. On the map
// page it stays small like in base.css
body.fullwidthpage,
body.twothirdswidthpage {
  // Override the logo
  #site-logo {
    width: 300px;
    height: 60px;
    background: url(/cobrands/alcala/cuida-alcala-logo.300x60.png) 0 0 no-repeat;
  }
}

body.twothirdswidthpage,
body.fullwidthpage {
    #front-main {
        #postcodeForm {
            div#pc {
                width: 16em;
                input {
                    color: #777;
                    font-size: 0.9em;
                    width: 100%;
                    &:focus {
                        outline: 0;
                    }
                }
            }
            div#sub {
                margin: 0 auto 5px;
                input {
                    height: 2.2em;
                    font-size:1.2em;
                    width: 100%;
                }
            }
        }
        a#geolocate_link {
            font-family: MuseoSans,Helmet,Freesans,sans-serif;
            background: url(images/locate-me.png) no-repeat;
            height: 34px;
            padding-left: 24px;
            margin-top: 0.25em;
            @media only screen and (min-resolution: 320dpi),
            only screen and (-webkit-min-device-pixel-ratio: 2) {
                background: url(images/locate-me@2.png) no-repeat;
            }
        }
    }
}


body.mappage {
  #site-header {
    height: 4em;
  }
}

.nav-wrapper {
   .nav-wrapper-2 {
    min-height: 3em;
  }
} 
    
// We have to specify this again for IE, since FMS overrides it
.ie6, .ie7, .ie8 {
  body.fullwidthpage,
  body.twothirdswidthpage {
    #site-header {
    // Increase the height of the site-header to suit the taller logo image
      height: auto;
    }
    #site-logo {
      width: 300px;
      height: 60px;
    }
  }
}
.ie6 body.frontpage #site-logo {
  background:url(/cobrands/alcala/cuida-alcala-logo.300x60.png) 0 0 no-repeat;
}

// Override the FMS main menu to give it a background colour
#main-menu {
  background-color: $alcalablue;
}
// Override the selected element to match. We need to do this separately
// because of FMS's selectors being quite specific
#main-nav ul#main-menu li span {
  color: $nav_fg;
  background-color: $nav_fg_hover;
}

// Override the "report a problem" button because it's not really a button
#main-nav ul#main-menu li a.report-a-problem-btn {
  color: $nav_fg;
  &:hover {
    background:$nav_fg_hover;
  }
}

// Fix bad margin on local alerts form
body.alertindex form.full-width {
  margin-left: 0;
}

// Override the little banner you get when you're logged in on the map page
body.mappage #user-meta p {
  background-color: $alcalablue;
  border-bottom: 1px solid #444;
}

body.frontpage #user-meta p {
  @include box-shadow(none);
  margin-top: 2px; 
  background-color: $alcalablue;
  color: #fff;
  height: 1.2em;
  font-size: 1em;
  right: 0;

  a {
      background-color: #333;
      color: #fff;
      // #77c1e4; 
  }
}

.table-cell #user-meta p {
  @include box-shadow(none);
  margin-top: 2px;
  right: 0;
  left: auto;
  height: 1.2em;
}

/*
// And also override the banner on other pages so that it lines up properly
#user-meta {
  max-width: 1200px;
}


#user-meta p,
body.frontpage #user-meta p {
  top: 0;
  right: auto;
  background-color: $alcalablue;
  color: #fff;
  box-shadow: none;
  height: 1.1em;
  font-size: 0.8em;
  
  a {
      background-color: #77c1e4; 
  }
}

*/


#front-main {
  margin-top:0.5em;
  padding: 0em;
  background-color: #fff;

  #front-main-container {
    padding: 1em 0em;
    background-color: $alcalablue;
  }
}

// The page h1 needs to be white on desktop, because it's in a blue box
h1.main {
  color: #fff;
}

// We have slightly different content in our lists of issues to what
// reports_list.scss expects, so we need to add back some padding it removes.
// This stops the pin icon being underneath the text.
.issue-list-a li .text {
  padding-left: 4em;
}

// Because we've changed the page background, the footer looks a bit rubbish
footer,
body.twothirdswidthpage .container .content footer .tablewrapper,
body.fullwidthpage .container .content footer .tablewrapper {
  background-color: $alcalablue;
}


// Center the mobile app buttons
#footer-mobileapps p,
#footer-help p {
  text-align: center;
}

#footer-projectby {
    width: 100%
}

//////////////////////////////////////////////////////////////////////////////
// Desktop styles
//////////////////////////////////////////////////////////////////////////////

#site-logo,
body.frontpage #site-logo {
  float: left;
  width: 239px;
  clear: left;
  //margin-bottom: 20px;
  background-position: 50% 0%;
}


body.twothirdswidthpage .content {
    aside {
        @include box-shadow(none);
        background: none;
    }
    .sticky-sidebar {
        aside {
            top: 11em;
            margin-left: 4em;
        }
    }
}

/* removing the shadow
.content {
    @include box-shadow(none);
}*/

// map page - has fixed header and different styling
body.mappage {
  .content {
    padding: 1em 1em 8em;
  }
}

// Need to check if we can remove the 60em for the page of personal notifications

.site-footer {
  background-color: $alcalablue;
  padding-top: 1em;
  max-width:60em;
  margin: 0 auto;
  min-height: 7em;
 
  .column {
    margin-right: 1.66667%;
    display: block;
    float: left;
    .additional-links {
      float: left;
      width: 24%;
      margin-left: 2%;
      margin-right: 2%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      &:first-child,
      &:last-child {
        margin-left: 0%;
        margin-right: 0%;
      } 
      li {
        padding: 0 0.5em;
      }
      
      h5 {
        background-color: lighten($alcalablue, 12%);
        display: inline-block;
      }
    }
    .footer-list2 {
      width: 46%;
      ul {
        overflow: auto;
      }
    }
    .footer-list2 ul li {
      width: 40%;
      margin-right: 2%;
      padding-left: 1em;
    }
    .footer-list1 {
        width: 23%;
    }
    .footer-list3 {
        width: 27%
    }
    .footer-list1 ul li {
      width: 83%;
      margin-right: 2%;
      padding-left: 1em;
    }
    .footer-list3 ul li {
      width: 94%;
      margin-right: 2%;
    }
    .social ul li {
      padding: 0 0 0 1em;
    }
  }
}

// Fix the footer in Old IE because it doesn't like last-child selectors
.ie6, .ie7, .ie8 {
  .site-footer {
    .column {
      // Old IE won't float the social media links unless we force the width to be
      // smaller and take a more traditional display/float tack.
      .social ul li {
        display: block;
        width: 36px;
        float: left;
      }
      .additional-links {
        margin-left: 0%;
        margin-right: 0%;
      }
      .footer-list2 {
        margin-left: 2%;
        margin-right: 2%;
      }
      .footer-list2 ul li,
      .footer-list1 ul li {
        // Old IE needs to know to float these for some reason
        float: left;
      }
    }
  }
}
